$icon-font-path: 'fonts' !default;

@font-face {
  font-family: 'videojs-theaterMode';
  src:url('#{$icon-font-path}/expand.eot');
  src:url('#{$icon-font-path}/expand.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}/expand.ttf') format('truetype'),
    url('#{$icon-font-path}/expand.woff') format('woff'),
    url('#{$icon-font-path}/expand.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vjs-theater-mode-control {
  font-family: 'videojs-theaterMode';
  float: right;
  cursor: pointer;
}

.vjs-theater-mode-control:before {
  content: "\e98b";
}
